<!doctype html>
<html lang="fa" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    <link rel="stylesheet" th:href="@{/assets/css/font/font.css}">
    <link rel="stylesheet" th:href="@{/assets/panel/css/style.css}">
    <title>ثبت‌نام</title>
</head>
<body>
<main>
    <div class="account">

        <form th:object="${user}" class="form" method="post" th:action="@{/register/doRegister}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <a class="account-logo" href="">
                <img src="/assets/img/weblogo.png" alt="">
            </a>
            <div class="form-content form-account">
                <input type="text" class="txt " placeholder="نام و نام خانوادگی *"
                       th:field="*{fullName}" required autocomplete="fullName" autofocus>
                <input id="email" type="email" class="txt txt-l "
                       placeholder="ایمیل *"
                       th:field="*{email}" value="" required autocomplete="email">
                <input id="mobile" type="text" class="txt txt-l "
                       placeholder="موبایل"
                       th:field="*{mobile}" value="" autocomplete="mobile">
                <input id="password" type="password" class="txt txt-l "
                       placeholder="رمز عبور *"
                       th:field="*{password}" required autocomplete="new-password">
                <input id="password-confirm" type="password" class="txt txt-l "
                       placeholder="تایید رمز عبور *"
                       th:field="*{confirmPassword}" required autocomplete="new-password">
                <span class="rules">رمز عبور باید حداقل ۶ کاراکتر و ترکیبی از حروف بزرگ، حروف کوچک، اعداد و کاراکترهای غیر الفبا مانند !@#$%^&*() باشد.</span>

                <br>
                <button class="btn continue-btn">ثبت نام و ادامه</button>
            </div>
            <div class="form-footer">
                <a th:href="@{/login}">صفحه ورود</a>
            </div>
        </form>

    </div>
</main>
</body>
</html>
