<!DOCTYPE html>
<html lang="IR-fa" dir="rtl" xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin/layout/head::head"></head>

<body class="navbar-fixed sidebar-nav fixed-nav">

<header th:replace="admin/layout/header::header"></header>
<aside th:replace="admin/layout/sidebar::sidebar"></aside>

<!-- Main content -->
<main class="main">

    <!-- Breadcrumb -->
    <ol th:replace="admin/layout/breadcrumb::breadcrumb"></ol>

    <div class="container-fluid bg-content">
        <div class="animated fadeIn">
            <div class="row">


                <h3 class="p-b-2 text-center">ویرایش مطلب</h3>
                <div class="row">
                    <div class="col-md-3">
                        <img th:src="@{${post.photo!=null ? post.photo.path : 'http://www.placehold.it/400' }}"
                             class="img-fluid">
                    </div>
                    <div class="col-md-9">
                        <form th:object="${post}" method="POST" th:action="@{/admin/post/update}" accept-charset="UTF-8"
                              enctype="multipart/form-data">
                            <input type="hidden" th:value="${post.id}" name="id">
                            <input type="hidden" th:value="${post.photoId}" name="photoId">
                            <div class="form-group">
                                <label for="title">عنوان:</label>
                                <input class="form-control" name="title" type="text"
                                       th:value="${post.title}" id="title">
                            </div>
                            <div class="form-group">
                                <label for="slug">نام مستعار:</label>
                                <input class="form-control" name="slug" type="text"
                                       th:value="${post.slug}" id="slug">
                            </div>
                            <div class="form-group">
                                <label for="categoryId">دسته بندی:</label>
                                <select class="form-control" id="categoryId" name="categoryId">
                                    <option th:each="category : ${categories}" th:value="${category.id}"
                                            th:text="${category.title}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="description">توضیحات:</label>
                                <textarea class="form-control" name="description" cols="50" rows="10"
                                          id="description" th:text="${post.description}"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="status">وضعیت:</label>
                                <select class="form-control" id="status" name="status">
                                    <option value="ACTIVATE" th:selected="${post.status.toString().equals('ACTIVATE')}">
                                        فعال
                                    </option>
                                    <option value="DEACTIVATE"
                                            th:selected="${post.status.toString().equals('DEACTIVATE')}">غیرفعال
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="photoFile">تصویر اصلی:</label>
                                <input name="photoFile" type="file" id="photoFile">
                            </div>
                            <div class="form-group">
                                <label for="metaDescription">متا توضیحات:</label>
                                <textarea class="form-control" name="metaDescription" cols="50" rows="10"
                                          id="metaDescription" th:text="${post.metaDescription}"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="metaKeyword">متا برچسب ها:</label>
                                <textarea class="form-control" name="metaKeyword" cols="50" rows="10"
                                          id="metaKeyword" th:text="${post.metaKeyword}"></textarea>
                            </div>
                            <div class="form-group">
                                <input class="btn btn-success col-md-3" type="submit" value="بروزرسانی">
                            </div>
                        </form>

                        <form method="POST" th:action="@{/admin/post/delete/{id}(id=${post.id})}"
                              accept-charset="UTF-8">
                            <div class="form-group">
                                <input class="btn btn-danger col-md-3" type="submit" value="حذف">
                            </div>
                        </form>
                    </div>


                </div>


            </div>
        </div>
    </div>

    <!--/.container-fluid-->
</main>

<aside th:replace="admin/layout/aside-menu::aside-menu"></aside>
<footer th:replace="/admin/layout/footer::footer"></footer>

<script th:src="@{/js/all-admin.js}"></script>


</body>
</html>